<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/main.css">
</head>
<body>
<h2>The Bill Form</h2>
<p>Fill in the form and click the button to view the results</p>
<form action="/bill_form_page" method="post">
    {{bill_form.amount.label}}  {{bill_form.amount}}
    <br>
    {{bill_form.period.label}}  {{bill_form.period}}
    <hr>
    <p>First Flatmate</p>
    {{bill_form.name1.label}}  {{bill_form.name1}}
    <br>
    {{bill_form.days_in_house1.label}}  {{bill_form.days_in_house1}}
    <hr>
    <p>Second Flatmate</p>
    {{bill_form.name2.label}}  {{bill_form.name2}}
    <br>
    {{bill_form.days_in_house2.label}}  {{bill_form.days_in_house2}}
    <br>
    {{bill_form.button}}
    <br>
    {% if result %}
    <h4>Please find the calculated amount below:</h4>
    <h5>{{name1}} has to pay {{amount1}}</h5>
    <h5>{{name2}} has to pay {{amount2}}</h5>
    {% endif %}
</form>
</body>
</html>